.documentDiv {
    width: 9rem;
    height: 11rem;
    margin: 2px;
    font-size: 1.3rem;
    border: solid thin darkgrey;
    float: left;
    padding: .25rem
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }